<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FlashcardAPIToken</key>
	<string>$(FLASHCARD_APP_TOKEN)</string>
	<key>FlashcardAPIBaseURL</key>
	<string>https://quizie-flashcard.fancyapps.dev</string>
</dict>
</plist>
